# Eclipse
.classpath/
**/.classpath
.project
.classpath
.factorypath
**/.factorypath
/.classpath/
/.settings/
.settings/
.settings
**/.classpath
**/.project
**/.classpath/*
**/.settings/*
**/.sts4-cache/*
**/.jar
**/.war
*.jar
*.war
*.zip
*.tar.gz
*.tar
*.rar
**/*.log
**/.timenull
/regresion-test/cobis-integration-test/logs/*
/src/CONSOLE/cts-console-web/src/main/web/console-app/package-lock.json
/src/CONSOLE/cts-console-web/src/main/web/console-app/dist/*
/src/CONSOLE/cts-console-web/src/main/web/console-app/node_modules

# Intellij
.idea/
*.iml
*.iws
**/*.ideaDataSources
**/dataSources
**/*.ipr

# Mac
.DS_Store

# Maven
log/
target/

#Gradle
.gradletasknamecache
.gradle/
build/
bin/
**/target/*
/src/packs/4.1.1/cobis-cts-pack/release
/src/packs/4.1.2/cobis-cts-pack/release
/src/packs/4.1.3/cobis-cts-pack/release
/regresion-test/cobis-integration-test/logs/*
regresion-test/ws-example/standalone-test/dist/*
regresion-test/ws-example/standalone-test/CTSAPIIntegration-*.zip

**/.vscode/
src/api-rest/project-test/reports

regresion-test/cobis-integration-test/.timenull
